//
// Text
// ----------------------------------------


// Colors
// ----------------------------------------

.text-primary
	color brand-primary

.text-info
	color brand-info

.text-success
	color brand-success

.text-warning
	color brand-warning

.text-danger
	color brand-danger

.text-muted
	color gray-light



// Size
// ----------------------------------------

.text-smaller
	font-size font-size-smaller

.text-small
	font-size font-size-small

.text-large
	font-size font-size-large

.text-larger
	font-size font-size-larger



// Alignment
// ----------------------------------------

.text-left
	text-align left

.text-center
	text-align center

.text-right
	text-align right

.text-justify
	text-align justify



// Transformation
// ----------------------------------------

.text-lowercase
	text-transform lowercase

.text-uppercase
	text-transform uppercase

.text-capitalize
	text-transform capitalize