//
// Scaffolding
// ----------------------------------------


// Reset
// ----------------------------------------

normalize()
box-sizing-reset()



// Default Styling
// ----------------------------------------

body
	background body-bg
	font-size font-size-base
	font-family font-family-base
	color text-color
	background: url('../images/general/bg.jpg')

hr
	margin-top line-height-computed
	margin-bottom line-height-computed
	margin-bottom line-height-computed
	border 0
	border-top 1px solid gray-lighter

a
	cursor pointer
	color link-color
	text-decoration none

	&:hover,
	&:focus
		color link-hover-color
		text-decoration link-hover-decoration
	
